.details {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding: 10px 0;
    }
  }
}

p {
  font-size: larger;
}
.photo {
  border-radius: 5px;
  padding-top: 30px;
}

.reserve {
  margin-top: 20px;
}
