
<%= render 'petshow' %>

<h1><%= @pet.address %></h1>
<div class="banner-map" style='background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=<%= @pet.address %>&zoom=15&key=AIzaSyB43mAjLeq18-tumQ8ytChKGtMM_Rr1Wx0&size=1200x600&sensor=false&maptype=roadmap&markers=color:red|<%= @pet.address %>"); height: 600px; background-size: cover;background-position: center center'>

</div>
<%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&key=AIzaSyB43mAjLeq18-tumQ8ytChKGtMM_Rr1Wx0&size=400x300&sensor=false&maptype=roadmap&markers=color:red|#{@current_user.address}", class: "map-font" %>

