<h1>Woof! It's a date!</h1>

<p>Congratulations! You have booked a pet-session with <b><%= @pet.name %></b>.</p>
<p>The cost per day for your time with <%= @pet.name %> is <b><%= @pet.price %>€</b>.</p>

<p>Please contact <b><%= @pet.user.email %></b> to schedule a rendez-vous.</p>


