

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 64px;
  color: #FFFF8F;
}


.card-white h3 {
  color: #6AF79A;
  margin-top : 0px;
  margin-bottom: 16px;
}

.button {
  border-radius: 5px;
  background-color: #6AF79A;
  color: #444B6C;
  padding: 15px;
  margin:auto;
  display:block;

}

.button:hover
{
  border-radius: 5px;
  background-color: #6AF79A;
  color: #444B6C;
}

.placeholder {
  font-size: 14px;
  font-style: italic;
}

